*{
    font-family: "comic sans ms";
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    width: 100%;
    flex-grow: 1;
    background-color: rgba(0, 0, 255, 0.384); 
    margin-bottom: 10px;
    border: 2px solid rgba(165, 42, 42, 0.74);
    padding-left: 15px;
    color: white;
    text-shadow: 5px 5px grey;
}

.buttons{
    flex: 1;
}

.button{
    width: 200px;
    height: 200px;
    margin: 10px;
    box-sizing: border-box;
    font-size: 16px;
    max-width: 200px;
    max-height: 200px;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    transition: all 1s;
}

.button:disabled{
    background-color: rgba(165, 42, 42, 0.356);
    
}

.paper-button{
    background-image: url(./images/paper.jpg);
}

.rock-button{
    background-image: url(./images/rock.jpeg);
}

.scissors-button{
    background-image: url(./images/scissors.png);
}

.rock-button:disabled{
    background-image: url(./images/rock-after.jpg);

}

.paper-button:disabled{
    background-image: url(./images/paper-after.png);
}

.scissors-button:disabled{
    background-image: url(./images/scissors-after.webp);
}